In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [119]:
y_train = pd.read_csv('Downloads/hackathon_datasets/training_set_labels.csv')
X_train = pd.read_csv('Downloads/hackathon_datasets/training_set_features.csv')
X_test = pd.read_csv('Downloads/hackathon_datasets/test_set_features.csv')
y_test = pd.read_csv('Downloads/hackathon_datasets/submission_format.csv')

In [218]:
y_test = pd.read_csv('Downloads/hackathon_datasets/submission_format.csv')

In [120]:
X_train.head()

,respondent_id,xyz_concern,xyz_knowledge,behavioral_antiviral_meds,behavioral_avoidance,behavioral_face_mask,behavioral_wash_hands,behavioral_large_gatherings,behavioral_outside_home,behavioral_touch_face,...,income_poverty,marital_status,rent_or_own,employment_status,hhs_geo_region,census_msa,household_adults,household_children,employment_industry,employment_occupation
0,0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,...,Below Poverty,Not Married,Own,Not in Labor Force,oxchjgsf,Non-MSA,0.0,0.0,NaN,NaN
1,1,3.0,2.0,0.0,1.0,0.0,1.0,0.0,1.0,1.0,...,Below Poverty,Not Married,Rent,Employed,bhuqouqj,"MSA, Not Principle City",0.0,0.0,pxcmvdjn,xgwztkwe
2,2,1.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,"<= $75,000, Above Poverty",Not Married,Own,Employed,qufhixun,"MSA, Not Principle City",2.0,0.0,rucpziij,xtkaffoo
3,3,1.0,1.0,0.0,1.0,0.0,1.0,1.0,0.0,0.0,...,Below Poverty,Not Married,Rent,Not in Labor Force,lrircsnp,"MSA, Principle City",0.0,0.0,NaN,NaN
4,4,2.0,1.0,0.0,1.0,0.0,1.0,1.0,0.0,1.0,...,"<= $75,000, Above Poverty",Married,Own,Employed,qufhixun,"MSA, Not Principle City",1.0,0.0,wxleyezf,emcorrxb

In [122]:
y_train.head()

   respondent_id  xyz_vaccine  seasonal_vaccine
0              0            0                 0
1              1            0                 1
2              2            0                 0
3              3            0                 1
4              4            0                 0

In [123]:
X_test.head()

,respondent_id,xyz_concern,xyz_knowledge,behavioral_antiviral_meds,behavioral_avoidance,behavioral_face_mask,behavioral_wash_hands,behavioral_large_gatherings,behavioral_outside_home,behavioral_touch_face,...,income_poverty,marital_status,rent_or_own,employment_status,hhs_geo_region,census_msa,household_adults,household_children,employment_industry,employment_occupation
0,26707,2.0,2.0,0.0,1.0,0.0,1.0,1.0,0.0,1.0,...,"> $75,000",Not Married,Rent,Employed,mlyzmhmf,"MSA, Not Principle City",1.0,0.0,atmlpfrs,hfxkjkmi
1,26708,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,Below Poverty,Not Married,Rent,Employed,bhuqouqj,Non-MSA,3.0,0.0,atmlpfrs,xqwwgdyp
2,26709,2.0,2.0,0.0,0.0,1.0,1.0,1.0,1.0,1.0,...,"> $75,000",Married,Own,Employed,lrircsnp,Non-MSA,1.0,0.0,nduyfdeo,pvmttkik
3,26710,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,"<= $75,000, Above Poverty",Married,Own,Not in Labor Force,lrircsnp,"MSA, Not Principle City",1.0,0.0,NaN,NaN
4,26711,3.0,1.0,1.0,1.0,0.0,1.0,1.0,1.0,1.0,...,"<= $75,000, Above Poverty",Not Married,Own,Employed,lzgpxyit,Non-MSA,0.0,1.0,fcxhlnwr,mxkfnird

In [124]:
y_test.head()

   respondent_id  h1n1_vaccine  seasonal_vaccine
0          26707           0.5               0.7
1          26708           0.5               0.7
2          26709           0.5               0.7
3          26710           0.5               0.7
4          26711           0.5               0.7

In [125]:
df = pd.concat([X_train, y_train.drop('respondent_id', axis=1)], axis=1)

In [126]:
df.head()

,respondent_id,xyz_concern,xyz_knowledge,behavioral_antiviral_meds,behavioral_avoidance,behavioral_face_mask,behavioral_wash_hands,behavioral_large_gatherings,behavioral_outside_home,behavioral_touch_face,...,rent_or_own,employment_status,hhs_geo_region,census_msa,household_adults,household_children,employment_industry,employment_occupation,xyz_vaccine,seasonal_vaccine
0,0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,...,Own,Not in Labor Force,oxchjgsf,Non-MSA,0.0,0.0,NaN,NaN,0,0
1,1,3.0,2.0,0.0,1.0,0.0,1.0,0.0,1.0,1.0,...,Rent,Employed,bhuqouqj,"MSA, Not Principle City",0.0,0.0,pxcmvdjn,xgwztkwe,0,1
2,2,1.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,Own,Employed,qufhixun,"MSA, Not Principle City",2.0,0.0,rucpziij,xtkaffoo,0,0
3,3,1.0,1.0,0.0,1.0,0.0,1.0,1.0,0.0,0.0,...,Rent,Not in Labor Force,lrircsnp,"MSA, Principle City",0.0,0.0,NaN,NaN,0,1
4,4,2.0,1.0,0.0,1.0,0.0,1.0,1.0,0.0,1.0,...,Own,Employed,qufhixun,"MSA, Not Principle City",1.0,0.0,wxleyezf,emcorrxb,0,0

In [127]:
obj_col = X_train.select_dtypes('object').columns
# fl = df.select_dtypes('float64').columns
# num = df.select_dtypes('int64').columns

(38,)

In [128]:
for i in (obj_col):
    X_train[i] = X_train[i].fillna(value='None')

In [134]:
for i in (obj_col):
    X_test[i] = X_test[i].fillna(value='None')

In [49]:
from sklearn.preprocessing import LabelEncoder

In [62]:
# le = LabelEncoder()
# y = le.fit_transform(train_features['census_msa'])
# arr = []

In [63]:
# for i in y:
#     if i not in arr:
#         arr.append(i)
# print(arr)

[2, 0, 1]

In [93]:
# df.dtypes

respondent_id                    int64
xyz_concern                    float64
xyz_knowledge                  float64
behavioral_antiviral_meds      float64
behavioral_avoidance           float64
behavioral_face_mask           float64
behavioral_wash_hands          float64
behavioral_large_gatherings    float64
behavioral_outside_home        float64
behavioral_touch_face          float64
doctor_recc_xyz                float64
doctor_recc_seasonal           float64
chronic_med_condition          float64
child_under_6_months           float64
health_worker                  float64
health_insurance               float64
opinion_xyz_vacc_effective     float64
opinion_xyz_risk               float64
opinion_xyz_sick_from_vacc     float64
opinion_seas_vacc_effective    float64
opinion_seas_risk              float64
opinion_seas_sick_from_vacc    float64
age_group                       object
education                       object
race                            object
sex                             object
income_poverty                  object
marital_status                  object
rent_or_own                     object
employment_status               object
hhs_geo_region                  object
census_msa                      object
household_adults               float64
household_children             float64
employment_industry             object
employment_occupation           object
xyz_vaccine                      int64
seasonal_vaccine                 int64
dtype: object

In [77]:
train_features['employment_industry'].describe()

count        13377
unique          21
top       fcxhlnwr
freq          2468
Name: employment_industry, dtype: object

In [163]:
col = X_train.columns
for column in col:
    le = LabelEncoder()
    X_train[column] = le.fit_transform(X_train[column])
X_train.drop(['respondent_id'],axis=1,inplace=True) 
X_train

,xyz_concern,xyz_knowledge,behavioral_antiviral_meds,behavioral_avoidance,behavioral_face_mask,behavioral_wash_hands,behavioral_large_gatherings,behavioral_outside_home,behavioral_touch_face,doctor_recc_xyz,...,income_poverty,marital_status,rent_or_own,employment_status,hhs_geo_region,census_msa,household_adults,household_children,employment_industry,employment_occupation
0,1,0,0,0,0,0,0,1,1,0,...,2,2,1,2,8,2,0,0,0,0
1,3,2,0,1,0,1,0,1,1,0,...,2,2,2,0,1,0,0,0,13,20
2,1,1,0,1,0,0,0,0,0,2,...,0,2,1,0,9,0,2,0,15,22
3,1,1,0,1,0,1,1,0,0,0,...,2,2,2,2,5,1,0,0,0,0
4,2,1,0,1,0,1,1,0,1,0,...,0,0,1,0,9,0,1,0,19,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26702,2,0,0,1,0,0,0,1,0,0,...,0,2,1,2,9,2,0,0,0,0
26703,1,2,0,1,0,1,0,0,0,1,...,0,2,2,0,6,1,1,0,5,3
26704,2,2,0,1,1,1,1,0,1,0,...,3,2,1,1,6,0,0,0,0,0
26705,1,1,0,0,0,0,0,0,2,0,...,0,0,2,0,5,2,1,0,5,7
26706,0,0,0,1,0,0,0,0,0,0,...,0,0,1,2,7,1,1,0,0,0

In [130]:
col = y_train.columns
for column in col:
    le = LabelEncoder()
    y_train[column] = le.fit_transform(y_train[column])
y_train

       respondent_id  xyz_vaccine  seasonal_vaccine
0                  0            0                 0
1                  1            0                 1
2                  2            0                 0
3                  3            0                 1
4                  4            0                 0
...              ...          ...               ...
26702          26702            0                 0
26703          26703            0                 0
26704          26704            0                 1
26705          26705            0                 0
26706          26706            0                 0

[26707 rows x 3 columns]

In [164]:
col = X_test.columns
for column in col:
    le = LabelEncoder()
    X_test[column] = le.fit_transform(X_test[column])
X_test.drop(['respondent_id'],axis=1,inplace=True) 
y_test.drop(['respondent_id'],axis=1,inplace=True) 
X_test

,xyz_concern,xyz_knowledge,behavioral_antiviral_meds,behavioral_avoidance,behavioral_face_mask,behavioral_wash_hands,behavioral_large_gatherings,behavioral_outside_home,behavioral_touch_face,doctor_recc_xyz,...,income_poverty,marital_status,rent_or_own,employment_status,hhs_geo_region,census_msa,household_adults,household_children,employment_industry,employment_occupation
0,2,2,0,1,0,1,1,0,1,0,...,1,2,2,0,7,0,1,0,2,8
1,1,1,0,0,0,0,0,0,0,0,...,2,2,2,0,1,2,3,0,2,21
2,2,2,0,0,1,1,1,1,1,0,...,1,0,1,0,5,2,1,0,11,13
3,1,1,0,0,0,0,0,0,0,1,...,0,0,1,2,5,0,1,0,0,0
4,3,1,1,1,0,1,1,1,1,0,...,0,2,1,0,6,2,0,1,5,11
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26703,1,1,0,1,0,1,0,0,1,1,...,3,1,0,1,2,1,1,1,0,0
26704,3,1,0,1,0,1,1,1,1,0,...,2,0,2,0,9,2,1,3,5,19
26705,0,1,0,0,0,0,0,0,0,0,...,2,2,2,2,9,0,1,0,0,0
26706,3,1,0,1,0,1,0,1,0,0,...,0,0,1,2,1,0,1,0,0,0
26707,2,1,0,0,0,1,0,0,1,1,...,3,2,2,0,5,1,0,0,0,22

       respondent_id  h1n1_vaccine  seasonal_vaccine
0                  0             0                 0
1                  1             0                 0
2                  2             0                 0
3                  3             0                 0
4                  4             0                 0
...              ...           ...               ...
26703          26703             0                 0
26704          26704             0                 0
26705          26705             0                 0
26706          26706             0                 0
26707          26707             0                 0

[26708 rows x 3 columns]

In [232]:
from sklearn.preprocessing import StandardScaler
from sklearn.svm import SVC

In [235]:
scaler = StandardScaler()
x_s = scaler.fit_transform(X_train)

In [ ]:
# model = SVC(probability = True)
# model.fit(x_s, y_train['xyz_vaccine'])

In [ ]:
from sklearn.naive_bayes import MultinomialNB
from sklearn.metrics import accuracy_score, classification_report
from sklearn.metrics import roc_auc_score
model = MultinomialNB()
model.fit(X_train, y_train['xyz_vaccine'])
y_pred = model.predict_proba(X_test)

In [243]:
y_pred

array([0, 0, 0, ..., 0, 0, 0], dtype=int64)

In [228]:
# y_pred = np.transpose([pred[1] for pred in y_pred])

In [229]:
y_pred

array([0.03097459, 0.00094159, 0.05847361, ..., 0.40617415, 0.7320075 ,
       0.00719942])

In [197]:
# y_test_matrix = np.zeros_like(y_test, dtype=float)
# for i in range(y_test_matrix.shape[1]):
#     y_test_matrix[i] = y_pred[i][:, 1]

ValueError: could not broadcast input array from shape (2,) into shape (3,)

In [224]:
y_test

       respondent_id  h1n1_vaccine  seasonal_vaccine
0              26707           0.5               0.7
1              26708           0.5               0.7
2              26709           0.5               0.7
3              26710           0.5               0.7
4              26711           0.5               0.7
...              ...           ...               ...
26703          53410           0.5               0.7
26704          53411           0.5               0.7
26705          53412           0.5               0.7
26706          53413           0.5               0.7
26707          53414           0.5               0.7

[26708 rows x 3 columns]

In [230]:
roc_auc_score(y_pred, y_test['h1n1_vaccine'].to_numpy())

ValueError: continuous format is not supported

In [173]:
y_test['h1n1_vaccine'].tail()

26703    0
26704    0
26705    0
26706    0
26707    0
Name: h1n1_vaccine, dtype: int64

In [176]:
y_pred

array([0, 0, 0, ..., 0, 1, 0], dtype=int64)

In [168]:
# accuracy = accuracy_score(y_test['h1n1_vaccine'].to_numpy(), y_pred)

In [169]:
# accuracy

0.6708476860865659

In [187]:
model = MultinomialNB()
model.fit(X_train, y_train['seasonal_vaccine'])
y_pred_2 = model.predict_proba(X_test)

In [ ]:
s2 = roc_auc_score(y_pred_2, y_test['seasonal_vaccine'].to_numpy())
s2